
ConsoleSnake/ConsoleSnake.sln
ConsoleSnake/.vs/ConsoleSnake/v16/.suo
ConsoleSnake/.vs/ConsoleSnake/v16/Server/sqlite3/db.lock
ConsoleSnake/.vs/ConsoleSnake/v16/Server/sqlite3/storage.ide
ConsoleSnake/.vs/ConsoleSnake/v16/Server/sqlite3/storage.ide-shm
ConsoleSnake/.vs/ConsoleSnake/v16/Server/sqlite3/storage.ide-wal
ConsoleSnake/ConsoleSnake/obj/Debug/ConsoleSnake.csproj.CoreCompileInputs.cache
ConsoleSnake/ConsoleSnake/obj/Debug/ConsoleSnake.csprojAssemblyReference.cache
ConsoleSnake/ConsoleSnake/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
